@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$select_color: #e63946;
$light_green: #6bf178;
$white: #f1faee;
$country: #ef3e36;
$indigo: #083d77;
$green: #53dd6c;
body {
  overflow: hidden;
}
.home {
  margin-top: 1em;
  height: 85vh;
  font-family: 'Poppins', sans-serif;

  .svg-wrapper {
    height: 100%;
    transition: height 0.15s;
    transition-delay: 1s;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      .country {
        stroke: rgba(gray, 0.5);
        stroke-width: 1px;
        transition: fill 0.3s;
        &:hover {
          stroke: rgba(black, 0.75);
          stroke-width: 1px;
          fill: $country;
          cursor: pointer;
        }
      }
      .label-background {
        fill: $white;
        //transition: fill-opacity 0.3s ease-in-out;
      }
    }
  }
  .controls {
    transition: 0.5s;
    .year-range-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 1em;
      width: 75%;
      margin: auto;
    }
    .rc-slider-track {
      background-color: $indigo;
    }
    .rc-slider-handle {
      border: solid 2px $select_color;
    }
    .year-label {
      font-size: 1.5em;
      margin-left: 2em;
    }
    .play-btn {
      margin-right: 2em;
      fill: $indigo;
      cursor: pointer;
    }
  }

  .chart-wrapper {
    position: absolute;
    background: rgba($white, 0.9);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    animation-delay: 1.5s;
    overflow: hidden;
    z-index: 1000;
    .line-chart-line {
      fill: $green;
      fill-opacity: 0.85;
      stroke: $green;
    }
    #exit-btn {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      font-size: 1.5em;
      font-weight: 500;
      padding: 1em;
      transition: 0.3s;
      &:hover {
        color: $select_color;
      }
    }
    svg {
      margin-top: 3.5em;
    }
    .btn-months {
      position: absolute;
      top: 2.4em;
      right: 60px;
      padding: 0.5em;
      outline: none;
      transition: 0.3s;
      align-items: center;
      cursor: pointer;
      border: 1px solid rgba($select_color, 0.2);
      border-radius: 5px;
      &:hover {
        background: $select_color;
        color: $white;
      }
    }
    .tourist-on-citizen {
      display: flex;
      position: absolute;
      bottom: 1em;
      left: 3em;
      width: 50%;

      .people-icons {
        display: flex;
        position: relative;
        height: 2.5em;
        overflow: hidden;
        align-items: center;
        margin-top: -0.5em;
        margin-bottom: 0.75em;
      }
      i {
        font-size: 20px;
        margin-right: 4px;
        min-width: 20px;
      }
      .info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        margin-left: 1em;
        span {
          height: 40px;
        }
      }
    }
  }

  .croatia-extra-charts {
    transition: 0.3s;
    position: absolute;
    background: $white;
    top: 0;
    right: 0;
    height: 100vh;
    .croatia-btns {
      position: absolute;
      right: 10px;
      top: 45%;
      display: flex;
      flex-direction: column;
      .btn {
        display: inline-flex;
        overflow: hidden;
        outline: none;
        transition: 0.3s;
        align-items: center;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        margin: 0.5em 0;
        i,
        span,
        img {
          width: 100%;
          display: block;
          padding: 0.5rem;
          margin: 0;
          box-sizing: border-box;
          flex-shrink: 0;
          transition: margin 0.3s;
          pointer-events: none;
        }
        i,
        img {
          margin-left: -100%;
          font-size: 1.5em;
        }
        &:hover {
          color: $white;
          background-color: $select_color;
          i {
            margin-left: 0;
          }
        }
      }
    }
    #exit-btn {
      position: absolute;
      top: 1em;
      right: 1em;
      cursor: pointer;
      font-size: 1.5em;
    }
    svg {
      margin-top: 2.5em;
    }
  }
  .btns {
    height: 2.5em;
    #btn {
      display: inline-flex;
      overflow: hidden;
      outline: none;
      transition: 0.3s;
      align-items: center;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      height: 100%;
      margin: 0em 0.5em;
      span,
      div {
        width: 100%;
        display: block;
        padding: 0.5rem;
        margin: 0;
        box-sizing: border-box;
        flex-shrink: 0;
        transition: margin 0.3s;
        pointer-events: none;
        height: 2.5em;
      }
      div img {
        height: 24px;
        width: 24px;
        transform: translate(0, -4px);
        opacity: 0.5;
        transition: 0.3s;
      }
      &:not([disabled]) div {
        margin-left: -100%;
        img {
          filter: brightness(0) invert(1);
          opacity: 1;
        }
      }
      &:not([disabled]):hover {
        color: $white;
        background-color: $select_color;
        div {
          margin-left: 0;
        }
      }
    }
  }

  .select-wrapper {
    width: 200px;
    height: 50px;
    position: relative;
    margin: auto;
    span {
      position: absolute;
      font-size: 2em;
      color: $white;
      right: 10px;
      transform: rotate(-90deg);
      transition: 0.3s ease-in-out;
    }
    select {
      width: 100%;
      height: 100%;
      font-size: 90%;
      font-weight: bold;
      cursor: pointer;
      border-radius: 0;
      background-color: $select_color;
      border: none;
      border-radius: 8px;
      border-bottom: 2px solid rgba($select_color, 0.7);
      color: $white;
      padding: 10px;
      padding-right: 38px;
      appearance: none;
      transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
      &:hover,
      &:focus {
        color: $select_color;
        background-color: $white;
        border-bottom-color: #dcdcdc;
      }
      &:hover ~ span,
      &:focus ~ span {
        transform: rotate(90deg);
        color: $select_color;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translate(0, 50%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
#root {
  height: 97vh;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: rgba($white, 0.45);
}

.toolTip {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 $white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}
